.navbar-light{
    position: absolute;
     width: 1437px;   

    height: 58px;
     left: calc(50%-1437px/2-1.5px); 
    top: 0px;
 
}

.navbar-collapse{
    position: absolute;
    width: 1155px;
    height: 58px;
    left: calc(50% - 80%/2 + 124px);
    top: 0px;


}
.navbar-nav1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
  
    position: absolute;
   width: 324px; 
    height: 54px;
left: calc(50% - 23%/2 + 416.5px); 
    top: calc(50% - 54px/2);
    
}
.login{
    width: 106px;
height: 54px;




flex: none;
order: 0;
flex-grow: 0;

}
.search{
    width: 46px;
height: 46px;

margin-top: 8px;


flex: none;
order: 1;
flex-grow: 0;
}
.cart .love {
    width: 46px;
height: 46px;



margin-top: 18px;
flex: none;
order: 2;
flex-grow: 0;
}
/* .login{

width: 166px;
height: 54px;
left: 0px;
top: 0px;

} */
.navbar-nav1 a{
   
width: 46px;
height: 46px;


}
.navbar-nav2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    position: absolute;
    width: 361px;
    height: 25px;
    left: 0px;
    top: calc(50% - 25px/2);


}
.navbar-nav2 ul a {
    height: 24px;
width: 43px;
left: 0px;
top: 0px;


}

.navbar-brand{
    position: absolute;
    width: 187px;
    height: 58px;
    left: calc(50% - 187px/2 - 587px);
    top: 0px;
}
.acciojob{
    position: absolute;
    width: 116px;
    height: 32px;
    left: 0px;
    
}
.acciojob h3 {
   
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252b42;
    height: 32px;
    width: 116px;
    left: 0px;
    top: -6px;
   
    


}
.navbar-nav2 ul{
    width: 43px;
    height: 24px;
    flex: none;
    flex-grow: 0;
}
.nbutton1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    gap: 5px;
    position: absolute;
    width: 166px;
    height: 54px;
    left: -35px;
    top: -7px;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
   
    

}
.nbutton2{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    gap: 5px;
    position: absolute;
    width: 46px;
    height: 46px;
    left: -40px;
    top:-7px;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
  

}
.nbutton3{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    gap: 5px;
    position: absolute;
    width: 46px;
    height: 46px;
    left: -40px;
    top:-32px;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
  

}
.nbutton4{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    gap: 5px;
    position: absolute;
    width: 46px;
    height: 46px;
    left: -40px;
    top:-32px;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
  

}
.navbar-nav1 a{
    position: absolute;
}
